*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.name{
    font-size: 35px;
    color: white;
    font-style: italic;
    padding-left: 40px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}

.background{
    background: rgba(0, 0,0, 0.4);
    background-image: url(img2.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 85%;
}
.firstHalf{
    color:white;
    align-items: center;
}  
.firstSection{
    height: 100vh;

}
.secondHalf{
    width: 50%;
}

.secondHalf img{
    width: 155px;
    border: 4px solid white;
    border-radius: 500px;
    display: block;
    margin: auto;

}
.text-big{
font-size: 40px;
}
.text-small{
    font-size: 18px;

}

.buttons{
    padding: 60px;
}